<div class="container text-dark">
  <h1 class="text-dark">Todo sobre nosotros</h1>
  <div class="row text-center">
    <div class="col-md-12 d-flex justify-content-between">
      <div
        class="card"
        style="width: 18rem"
        *ngFor="let profesional of profesiones"
      >
        <img src="{{ profesional.foto }}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h3 class="card-title">
            {{ profesional.prof }}
            <a href="https://wa.me/5493417516511" target="_blank"
              ><i class="fa-brands fa-whatsapp"></i
            ></a>
          </h3>
          <p class="card-text"><mat-divider class="mb-2"></mat-divider></p>
          <p>{{ profesional.mat }}</p>
          <mat-divider class="mb-2"></mat-divider>
          <p class="descripcion">{{ profesional.titulo }}</p>
        </div>
      </div>
    </div>
  </div>
  <hr class="mt-5" />
  <hr />
  <app-turnos></app-turnos>
  <hr class="mt-5" />
  <hr />
  <div class="row mt-4 d-flex justify-content-around">
    <div class="col-md-8">
      <app-comentarios></app-comentarios>
    </div>
    <div class="col-md-4">
      <h2>Encontranos en</h2>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13394.163091254273!2d-60.648707699999996!3d-32.936729299999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7abda3fe90df7%3A0x8669891107ce3b7a!2zQXJhbcOtIEtpbmVzaW9sb2fDrWE!5e0!3m2!1ses!2sar!4v1693302466078!5m2!1ses!2sar"
        width="100%"
        height="200"
      ></iframe>
      <app-footer></app-footer>
    </div>
  </div>
</div>

<div class="my-5 py-5"></div>
