<div class="container">
  <div class="row my-3">
    <div class="col-md-4 mb-3">
      <label (click)="odatos()">ver datos</label>
      <div *ngFor="let dato of datos">
        {{ dato.name }}
      </div>
    </div>
    <h2>Gastos</h2>
    <form [formGroup]="gastosForm" (ngSubmit)="agregarGasto()">
      <div class="col-md-4 mb-3">
        <input
          class="form-control"
          formControlName="detalle"
          type="text"
          required
          placeholder="Detalle "
        />

        <div
          class="alert alert-danger"
          *ngIf="
            gastosForm.get('detalle')?.hasError('required') &&
            gastosForm.get('detalle')?.touched
          "
          class="alert alert-danger"
        >
          El campo es obligatorio
        </div>
      </div>
      <div class="col-md-2 mb-3">
        <input
          type="text"
          class="form-control"
          formControlName="monto"
          required
          placeholder="Monto"
        />

        <div
          *ngIf="
            gastosForm.get('monto')?.hasError('required') &&
            gastosForm.get('monto')?.touched
          "
          class="alert alert-danger"
        >
          El campo es obligatorio
        </div>
      </div>
    </form>
    <div class="col-md-1 pt-2 px-0">
      <button
        type="submit"
        [disabled]="gastosForm.invalid"
        class="btn btn-dark"
      >
        Enviar
      </button>
    </div>
    <div class="row">
      <div class="col-md-8">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Detalle</th>
              <th scope="col">Monto</th>
              <th scope="col">acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let gasto of gastos">
              <th scope="row">{{ gasto.detalle }}</th>
              <td>{{ gasto.monto }}</td>
              <td>
                <button class="btn bg-danger">editar</button
                ><button class="btn bg-primary">eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
